/* style.css */
body {
  font-family: sans-serif;
  background: #14001E url('assets/Background.png') center center no-repeat;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100vh;
  text-align: center;
  padding: 2rem;
}

.container {
  max-width: 400px;
  margin: auto;
  background: rgba(0,255,255,0.7); /* cyan with transparency */
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.avatar {
  width: 100px;
  border-radius: 50%;
}

.links a {
  display: block;
  margin: 1rem 0;
  padding: 0.75rem;
  background: #660099;
  color: cyan;
  text-decoration: none;
  border-radius: 5px;
}

.links a:hover {
  background: #006699;
}

.icon-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  max-width: 400px; /* adjust as needed */
}

.icon img {
  width: 80%;
  height: auto;
}

.hidden {
  display: none;
}